#box1 {
  width: 100px;
  height: 100px;
  background: yellow;
  display: flex;
  backface-visibility: hidden;
  transition: .3s all;
  transform: matrix3d();
}
#box2 {
  width: 200px;
  height: 200px;
  background: yellowgreen;
}